// 主要背景色
.hotBg {
    background-color: $hot-color;
}
// 主要顏色 亮色系 背景色
.lightBg {
    background-color: $light-hot-color;
}
// 主要顏色 深亮色系 背景色
.darkBg {
    background-color: $dark-hot-color;
}
// 次要背景色
.secondBg {
    background-color: $second-color;
}
// 灰色背景色
.grayBg {
    background-color: $gray-color;
}
// 深藍色背景色
.blackBlueBg {
    background-color: $black-blue-color;
}
// 綠色背景色
.greenBg {
    background-color: $green-color;
}
// 紅色背景色
.redBg {
    background-color: $red-color;
}