.hotGradient {
    background: rgb(0, 171, 191);
    background: linear-gradient(180deg, rgba(0, 171, 191, 1) 35%, rgba(191, 252, 255, 1) 100%);
}
.lightGradient {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, rgba(190, 251, 255, 1) 100%);
}
// 量色漸層線框
.lightBorderGradient {
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to bottom, $light-hot-color 0%, rgba(255, 255, 255, 0) 100%) 1 100%;
    border-image-slice: 1;
}
// 黃色漸層線框
.yellowBorderGradient {
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to top, $yellow-color 0%, rgba(255, 255, 255, 0) 100%) 1 100%;
    border-image-slice: 1;
}
