$hot-color: #007A77;
$second-color: #EDAA33;
$light-hot-color: #B0FFFD;
$dark-light-hot-color: #00BDB7;
$dark-hot-color: #00524F;
$gray-color: #969696;
$green-color: #008B45;
$yellow-color: #FFEB8B;
$dark-yellow-color: #FFA011;
$black-blue-color: #0F1933;
$red-color: #EC0005;